[mysqld]
server-id         = 1001
log_bin           = mysql-bin
log_bin_index     = log-bin-index
binlog_format     = row
binlog_row_image  = full
expire_logs_days  = 10



[mysqldump]
quick
quote-names
max_allowed_packet      = 16M